<%- include('bootheader') -%>
<%- include('menubar') -%>


<div class="jumbotron" class="bg-info">
    <h2>Jigsaw Puzzles</h2>
</div>
<img src="https://templatelab.com/wp-content/uploads/2017/04/puzzle-piece-template-02.jpg" width="400">
<p>
Jigsaw Puzzles are the most straight-forward puzzles and always consist of many different small pieces that fit together to form a larger image.<br>
There are many ways to solve this kind of puzzle, the most widely reccommended is to start with any edge pieces that might be in the puzzle.
</p>
<hr>
<div class="jumbotron bg-light">
    <h5>Comments: </h4>
</div>
<div class="row">
    <%locals.comments.forEach(item => {%>
        Posted by: <%=item.userId%> on <%=item.date%>
        <div class="bg-light">
        <%=item.words%>
        </div>
        <hr>
    <%})%>
    <form method="post" action="newCommentJigsaw">
        New Comment:
        <input type="text" value="Jigsaw" name="pageId" readonly>
        <br>
        <textarea name="comment" wrap="soft" rows="10" cols="40"></textarea>
        <br>
        <input type="submit" value="Post">
    </form>

</div>

<%- include("bootfooter") -%>
