<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Your Profile</h1>
</div>
<hr>
<div class="row">
  <div class="bg-danger">
    <img src="<%= user.imageURL %>" width="200">
    <br>
    <%=user.username%>
  </div>
  <div class="bg-info">
  <%= user.googlename %><br>
  <%= user.googleemail %><br>
  <%= user.age %><br>
  <%=user.about%><br>
  </div>
  <p>Delete all Comments you have made? <a href="/comments/clear">Yes</a></p>

  <a href="/editProfile">Edit</a>
<%- include("bootfooter")-%>

