<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Your Profile</h1>
</div>
<hr>
<div class="row">
  <div class="bg-danger">
    <img src="<%= user.imageURL %>" width="200">
    <br>
    Username: <%=user.username%>
  </div>
  <div class="bg-info">
  Real Name (provided by google): <%= user.googlename %><br>
  Email Address: <%= user.googleemail %><br>
  Age: <%= user.age %><br>
  Bio: <%=user.about%><br>
  </div>
  <hr>
  <p>Delete all Comments you have made? <a href="/comments/clear">Yes</a></p>

  <a class="btn btn-info" href="/editProfile">Edit</a>
<%- include("bootfooter")-%>

