<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Registered Users</h1>
  <p> This comes from google authentication. Please setup your profile using the <code>"Edit"</code> link on your profile page.
  </p>
</div>
<hr>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Username</th><th>Bio</th>
    </tr>
  </thead>
  <% profiles.forEach(profile => { %>
    <tr>
          <td>
            <%if(profile.username!=null){%>
              <a href="/publicprofile/<%= profile._id %>">
              <%= profile.username %>
              </a>
            <%}else{%>
              <a href="/publicprofile/<%= profile._id %>">
                <%= profile.googlename %>
                </a>
            <%}%>
          
          </td>
          <td>
            <%=profile.about%>
          </td>
    </tr>
  <% }) %>
</table>
<%- include('bootfooter') -%>