<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="row">
  <table class="Table">
    <thead>
      <tr>
        <th>
  <div class="bg-danger">
    <img src="<%= profile.imageURL %>" width="200">
    <br>
    <h1><%=profile.username%>'s Profile Page</h1>
  </div>
  </th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
  <div class="bg-info">
  Real Name: 
  <% if(user.googleemail==profile.googleemail){%>
    <%=user.googlename%>
    <br>
    Email Address: 
    <%=profile.googleemail%>
  <%} else{%>
    (Identifying information is hidden)
  <%}%>
  <br>
  Age: <%= user.age %><br>
  About <%=profile.username%>:<br>
  <div class="bg-warning">
    <%=user.about%>
  </div>
  </div>
</td>
</tr>
</tbody>
</table>
<%- include('bootfooter') -%>