<%- include('bootheader') -%>
<%- include('menubar') -%>


<div class="jumbotron" class="bg-info">
    <h2>Sudoku Puzzles</h2>
</div>
<img src="https://scx1.b-cdn.net/csz/news/800a/2006/Psudo-1.png">
<p>
Sudoku Puzzles are 9 by 9 grids of numbers. <br>
You can only put numbers one through nine of the table, and each column, row, and smaller 3x3 box cannot repeat any numbers.
<br>The easiest way to solve a Sudoku Table is to mark down which numbers cannot be in each box, and write down any numbers are the only possibility for the box.
</p>
<hr>
<div class="jumbotron bg-light">
    <h5>Comments: </h4>
</div>
<div class="row">
    <%locals.comments.forEach(item => {%>
        Posted by: <%=item.userId%> on <%=item.date%>
        <div class="bg-light">
        <%=item.words%>
        </div>
        <hr>
    <%})%>
    <form method="post" action="newCommentSudoku">
        New Comment:
        <input type="text" value="Sudoku" name="pageId" readonly>
        <br>
        <textarea name="comment" wrap="soft" rows="10" cols="40"></textarea>
        <br>
        <input type="submit" value="Post">
    </form>

</div>

<%- include("bootfooter") -%>
